#welcome {
  width: 250px;
  margin: auto;
  margin-top: 100px;
}

#welcome button {
  background-color: #2ebc4f;
  border-color: #2ebc4f;
  padding: 20px 32px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-style: solid;
  cursor: pointer;
}
.voffset1 {
  margin-top: 10px;
}
#heading {
  margin: auto;
}
